@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
body{
    background-color: #222;
}
div.top{
    display: flex;
    position: sticky;
    top: 0px;
    background-color: #222;
}
div.procart{
    display: flex;
    margin-left: auto;
}
div.card{
    z-index: 1;
    display: flex;
    justify-content: center;
    position: relative;
}
img{
    z-index: 4;
    padding-top: 4em;
    padding-right: 1em;
    display: flex;
    justify-self: center;
}
div.svgw{
    z-index: 2;
    display: flex;
    position: absolute;
}
h3{
    z-index: 3;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 1px;
}
h4{
    z-index: 4;
    position: absolute;
    color: var(--black, #222);
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: capitalize;
    padding-top: 12em;
    padding-right: 3em;
    max-width: 13em;
}
p.idn{
    z-index: 4;
    color: #808080;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    position: absolute;
    padding-top: 23em; 
    padding-right: 14.1em;
}
div.card{
    background-image: url(#filter0_d_152_165);
}
button.basket{
    background: #222;
    border: none;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}
div.button{
    position: absolute;
    padding-top: 26em;
    padding-left: 3em;
}
button.basket {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #222;
    border-radius: 10px;
}
p.price{
    z-index: 4;
    color: var(--red, #941B0C);
    text-align: right;
    font-family: Rubik;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    position: absolute;
    padding-top: 8.5em;
    padding-left: 6em;
}
p.discount{
    position: absolute;
    color: var(--gray, #808080);
    text-align: right;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-decoration: line-through;
    padding-top: 20em;
    padding-left: 17.6em;
}
div.card-onsale{
    z-index: 1;
    display: flex;
    justify-content: center;
    position: relative;
}
div.svgy{
    z-index: 2;
    display: flex;
    position: absolute;
}    
div.card-onsale{
    background-image: url(#filter0_d_152_165);
}